

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="/icons/quizlogo99.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <title>QUIZ GAME - Cards</title>
    
</head>


<body th:attr="data-user-id=${user.userId}">
    <div class="background-image"></div>
    <div class="header">
        <div class="logo-box">
            <a th:href="@{'/home'}">
                <img class="logo" src="/icons/quizlogo99.svg" alt="Logo">
            </a>
            <div class="logo-name">
                <span class="quiz">QUIZ</span>
                <span class="game">GAME</span>
            </div>
        </div>
        <div class="profile-box">
            <span class="pf-lvl">Lvl - 01</span>
            <div >
                <img class="profile" id="profile" src="/images/space man.jpg" alt="Logo">
            </div>
        </div>
    </div>
    <div class="profile-container" id="profile-container">
        <div class="top-box">
            <div class="top-lf">Profile</div>
            <div class="top-rg">
                <img class="speaker-icon" src="/icons/speaker.png" alt="Seapker icon">
                <a href="/update_profile.html">
                    <img class="edit-icon" src="/icons/lucide_edit.png" alt="Edit icon">
                </a>
            </div>
        </div>
        <div class="bottom-box">
            <div class="pf-picture"><img src="/images/space man.jpg" alt="Profile"></div>
            <div class="pf-name">
                Space Man
                <img src="/icons/ship-wheel (1).svg" alt="Badge">
            </div>
            <span class="lvl">Level - 01</span>
            <span class="pf-email">spaceman@gmail.com</span>
            <!-- <button class="sign-out-btn">Sign out</button> -->
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <a th:href="@{'/learning-zone'}">
        <div class="back-arr">
            <img class="back-arrow" src="/icons/back-arrow.png" alt="back"> Back
        </div>
    </a>
    <div class="search-box">
        <form th:action="@{/search-card}" method="get" class="search-form">
            <div class="search-input">
                <input type="text" id="search-input" name="keyword" placeholder="Search card..." autocomplete="off">
                <div id="suggestions-box" class="suggestions-box"></div>
            </div>
            <button type="submit" class="search-icon">
                <img src="/icons/icons8-search-50 (3).png" alt="search">
            </button>
        </form>
    </div>
    
    <a th:href="@{'/collection'}">
        <div class="favorite">
            <span class="tooltip-collection">Card Collection</span>
            <img class="fav-icon" src="/icons/icons8-star-50 (1).png" alt="star">
        </div>
    </a>
    <div class="container">
        <div class="collection">
            <div class="topic-name-box">
                <span class="topic-name" id="topic-name">Topic Name</span>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper" id="flashcards-container">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="flashcard-set-box">
        <div class="set-title"
                th:each="topic, iterStat : ${topics}"
                th:attr="data-topic-id=${topic.topicId}, data-topic-name=${topic.name}">
            <span th:text="${iterStat.index + 1}">Topic Number</span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/scripts/profileScript.js"></script>
    <script src="/scripts/collection.js"></script>
    <script src="/scripts/flashcardScript.js"></script>
    <script src="/scripts/searchScript.js"></script>
    <script>
        function addPopstateListener() {
            window.onpopstate = function (event) {
                console.log("Back navigation detected");
                console.log("State:", event.state); // Log the state object
                attachStarListeners(); // Re-attach star listeners when coming back
            };
        }

        document.addEventListener("DOMContentLoaded", function() {
            addPopstateListener();
            attachStarListeners(); // Initial attach
        });
    </script>

</body>


</html>
