<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>QUIZ GAME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

  <link rel="shortcut icon" type="x-icon" href="icons/quizlogo99.svg">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/introjs.min.css" />
  <link rel="stylesheet" href="styles/onboarding_home.css">

  <style>

    .swiper {
    position: absolute;
    visibility: hidden;
    top: 18%;
    width: 78%;
    display: flex;
    height: 240px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 1000000000000;
    backdrop-filter: blur(7px);
    color: white;
    box-shadow: inset 5px 5px 10px rgb(70, 124, 147), inset -5px -5px 10px rgb(68, 133, 160);
    }


    .swiper-slide {
      display: flex;
      flex-direction: column;
      padding: 25px;
    }
    .title{
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

    @media (min-width: 570px) and (max-width: 764.999px){

        .swiper{
            width: 88%;
            visibility: visible;
            overflow: hidden;
        }

    }

    @media (min-width: 488px) and (max-width: 569.999px){

        .swiper {
            width: 90%;
            visibility: visible;
            overflow: hidden;
        }
    }

    @media (max-width: 487.999px){

        .swiper {
            width: 93%;
            visibility: visible;
        }
    }

      
    .info-container {
        position: relative;
        z-index: 99;
    }

    .left-div {
        position: relative;
        z-index: 100;
    }

    .right-div {
        position: relative;
        z-index: 101;
    }


    .introjs-showElement {
        z-index: 1000;
    }
    
    .introjs-tooltip{
        z-index: 1001 ;
    }

    .introjs-overlay {
        z-index: 100;
        
    }
    
  </style>

</head>

<body>

  <div class="background-image"></div>
  <div class="header">
      <div class="logo-box">
          <img class="logo" src="icons/quizlogo99.svg" alt="Logo">
          <div class="logo-name">
              <span class="quiz">QUIZ</span>
              <span class="game">GAME</span>
          </div>
      </div>
      <div class="profile-box">
          <span class="pf-lvl">Lvl - <span th:text="${#numbers.formatInteger(user.level, 2)}"></span></span>
          <div >
              <img class="profile" id="profile" th:src="@{'/images/profiles/' + ${profile}}" alt="Logo">
          </div>
      </div>
  </div>
  <div class="profile-container" id="profile-container">
      <div class="top-box">
          <div class="top-lf">Profile</div>
          <div class="top-rg">
              <img class="speaker-icon" src="icons/speaker.png" alt="Seapker icon">
              <a th:href="@{/profile}" class="edit-btn">
                  <img class="edit-icon" src="icons/lucide_edit.png" alt="Edit icon">
              </a>
          </div>
      </div>
      <div class="bottom-box">
          <div class="pf-picture"><img th:src="@{'/images/profiles/' + ${profile}}" alt="Profile"></div>
          <div class="pf-name">
              <span th:text="${user.username}"></span>
              <img src="/images/Level-2.png" alt="Badge">
          </div>
          <span class="lvl">Level - 0<span  th:text="${user.level}"></span></span>
          <span class="pf-email" th:text="${user.email}"></span>
          
          <a th:href="@{/logout}" class="sign-out-btn">Sign out</a>
        
        </div>
  </div>
  <div id="overlay" class="overlay"></div>

  <div class="container">
    <div class="info-container">
        <div class="bg-color"></div>
        <div class="left-div">
            <div class="profile-info-box2">
                <div class="user-pf"><img th:src="@{'/images/profiles/' + ${profile}}" alt="profile picture"></div>
                <div class="profile-info">
                    <span class="name"><span th:text="${user.username}"></span>
                        <!-- <img class="badge-lvl" src="/images/Level-1.png" alt="badge-level"> -->
                    </span>
                    <span class="level-no">Lvl - <span  th:text="${#numbers.formatInteger(user.level, 2)}"></span></span>
                    <div class="exp-prograss-bar">
                        <div class="exp-bar-fill" th:style="'width:' + ${progressPercentage} + '%'"></div>
                        <span class="exp">
                            <span th:text="${#numbers.formatInteger(user.userXp, 2)}"></span>/<span th:text="${xpEnd}"></span> EXP
                        </span>
                    </div>                        
                </div>
            </div>
            <div class="record-box">
                <div class="quiz-set-box">
                    <div class="badge-icon"><img src="icons/check-mark (1).svg" alt="Quiz set"></div>
                    <div class="badge-info">
                        <span class="record" th:text="${#numbers.formatInteger(user.quizSet, 2)}">00</span>
                        <span class="record-name">Quiz Sets</span>
                    </div>
                </div>
                <div class="high-score-box">
                    <div class="badge-icon"><img src="icons/trophy-cup (2).svg" alt="High score"></div>
                    <div class="badge-info">
                        <span class="record"  th:text="${#numbers.formatInteger(user.highestScore, 2)}">00</span>
                        <span class="record-name">Highest Score</span>
                    </div>
                </div>
                <div class="time-spent-box">
                    <div class="badge-icon"><img src="icons/stopwatch.svg" alt="Time-spent"></div>
                    <div class="badge-info">
                        <span class="record" th:text = "${formatTimeSpent}">01h 15m</span>
                        <span class="record-name">Time Spent</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-div">
            <h2 class="title1">Achievement</h2>
            <div class="achievement-1">
                <div class="achieve-box" >
                    <img class="phase1-logo" src="/images/phase1-achievement.png" alt="Phase 1">
                    <span>Phase 1</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/phase2-achievement.png" alt="Phase 2">
                    <span>Phase 2</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/phase3-achievement.png" alt="Phase 3">
                    <span>Phase 3</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/phase4-achievement.png" alt="Phase 4">
                    <span>Phase 4</span>
                </div>
            </div>
            <div class="achievement-1">
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/1st-Achiever.png" alt="First-Achiever">
                    <span>1st Achiever</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/rising-star-achievement.png" alt="Rising Star">
                    <span>Rising Star</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/rookie-quizzer-achievement.png" alt="Rookie Quizzer">
                    <span>Rookie Quizzer</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/ultimate-genius-achievement.png" alt="Ultimate Genius">
                    <span>Genius</span>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-info">
                <div class="profile-info-box" >
                    <div class="user-pf"><img th:src="@{'/images/profiles/' + ${profile}}" alt="profile picture"></div>
                    <div class="profile-info">
                        <span class="name" th:text="${user.username}">
                            <!-- <img class="badge-lvl" src="/images/Level-1.png" alt="badge-level"> -->
                        </span>
                        <span class="level-no">Lvl - <span th:text="${#numbers.formatInteger(user.level, 2)}"></span></span>
                        <div class="exp-prograss-bar">
                            <div class="exp-bar-fill" th:style="'width:' + ${progressPercentage} + '%'"></div>
                            <span class="exp">
                                <span th:text="${#numbers.formatInteger(user.userXp, 2)}"></span>/<span th:text="${xpEnd}"></span> EXP
                            </span>
                        </div>                        
                    </div>
                </div>
                <div class="record-box">
                    <div class="quiz-set-box">
                        <div class="badge-icon"><img src="icons/check-mark (1).svg" alt="Quiz set"></div>
                        <div class="badge-info">
                            <span class="record" th:text="${#numbers.formatInteger(user.quizSet, 2)}">00</span>
                            <span class="record-name">Quiz Sets</span>
                        </div>
                    </div>
                    <div class="high-score-box">
                        <div class="badge-icon"><img src="icons/trophy-cup (2).svg" alt="High score"></div>
                        <div class="badge-info">
                            <span class="record" th:text="${#numbers.formatInteger(user.highestScore, 2)}">00</span>
                            <span class="record-name">Highest Score</span>
                        </div>
                    </div>
                    <div class="time-spent-box">
                        <div class="badge-icon"><img src="icons/stopwatch.svg" alt="Time-spent"></div>
                        <div class="badge-info">
                            <!-- <span class="record">01h 15m</span> -->
                            <span class="record" th:text = "${formatTimeSpent}">01h 15m</span>
                            <span class="record-name">Time Spent</span>
                        </div>
                    </div>
                </div>
            </div>
          <div class="swiper-slide swiper-slide-achievement">
            <h2 class="title">Achievement</h2>

            <div class="achievement-1">
                <div class="achieve-box" >
                    <img class="phase1-logo" src="/images/phase1-achievement.png" alt="Phase 1">
                    <span>Phase 1</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/phase2-achievement.png" alt="Phase 2">
                    <span>Phase 2</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/phase3-achievement.png" alt="Phase 3">
                    <span>Phase 3</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/phase4-achievement.png" alt="Phase 4">
                    <span>Phase 4</span>
                </div>
            </div>
            <div class="achievement-1">
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/1st-Achiever.png" alt="First-Achiever">
                    <span>1st Achiever</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/rising-star-achievement.png" alt="Rising Star">
                    <span>Rising Star</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/rookie-quizzer-achievement.png" alt="Rookie Quizzer">
                    <span>Rookie Quizzer</span>
                </div>
                <div class="achieve-box">
                    <img class="achieve-logo" src="/images/ultimate-genius-achievement.png" alt="Ultimate Genius">
                    <span>Genius</span>
                </div>
            </div>
        </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination"></div>
      </div>
    <!-- <h1>Master the Basics: Learning & Practice Zone</h1> -->

    <div class="activty-box">
        <div class="learning-zone-box">
            <img class="game-img" src="icons/learning-zone-img.png" alt="Learning zone">
            <span class="game-name">Learning Zone</span>
            <span class="desc-text">Expend you knowledge and understanding with<br>practicing with flashcards</span>

            <button class="btn" id="learn-link">Learn</button>
        </div>
        <div class="game-zone-box">
            <img  class="game-img" src="icons/game-zone-img.png" alt="Learning zone">
            <span class="game-name">Gaming Zone</span>
            <span class="desc-text">Expend you knowledge and understanding with <br>practicing with flashcards</span>

            <button class="btn" id="play-link">Play</button>

        </div>
    </div>
    <button class="onboarding-btn" onclick="startOnboarding()">
        <img src="icons/icons8-question-mark-30.png" alt="??">
    </button>
</div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/scripts/audio.js"></script>
  <script src="/scripts/profileScript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/intro.min.js"></script>
  <script src="scripts/onboarding/home.js"></script>
  <script>
    playNavAudio("learn-link", "learning-zone");
    playNavAudio("play-link", "gamezone");
  </script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    const quiz = document.querySelector('.quiz-set-box .record');
    console.log(quiz);
  </script>

</body>

</html>
