<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="/icons/quizlogo99.svg">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/quiz_set.css">
    <link rel="stylesheet" href="/styles/leaderboard.css">
    <title>Game Set</title>
</head>
<body>
    <div class="background-image"></div>
    <div class="header">
        <div class="logo-box">
            <a th:href="@{'/home'}">
                <img class="logo" src="/icons/quizlogo99.svg" alt="Logo">
            </a>
            <div class="logo-name">
                <span class="quiz">QUIZ</span>
                <span class="game">GAME</span>
            </div>
        </div>
        <div class="profile-box">
            <span class="pf-lvl"  th:text="'Lvl - ' + ${#numbers.formatInteger(user.level, 2)}">Lvl - 01</span>
            <div >
                <img class="profile" id="profile" th:src="@{'/images/profiles/' + ${user.pfPicture}}" alt="Logo">
            </div>
        </div>
    </div>
    <div class="profile-container" id="profile-container">
        <div class="top-box">
            <div class="top-lf">Profile</div>
            <div class="top-rg">
                <!-- <img class="speaker-icon" src="icons/speaker.png" alt="Seapker icon"> -->
                <a th:href="@{/profile}" class="edit-btn">
                    <img class="edit-icon" src="/icons/icons8-create-26.png" alt="Edit icon">
                </a>
            </div>
        </div>
        <div class="bottom-box">
            <div class="pf-picture"><img th:src="@{'/images/profiles/' + ${user.pfPicture}}" alt="Profile"></div>
            <div class="pf-name">
                <span th:text="${user.username}"></span>
                <!-- <img src="/images/Level-2.png" alt="Badge"> -->
            </div>
            <span class="lvl" th:text="'Level - ' + ${#numbers.formatInteger(user.level, 2)}">Level - 01</span>
            <span class="pf-email" th:text="${user.email}"></span>
            
            <a th:href="@{/logout}" class="sign-out-btn">Sign out</a>
          
          </div>
    </div>
    <div id="overlay" class="overlay"></div>

    <div class="container">
        <a th:href="@{'/gamezone'}">
            <div class="back-arr" onclick="navigateBack()">
                <img class="back-arrow" src="/icons/back-arrow.png" alt="back"> Back
            </div>
        </a>
        <span class="chapter-name" th:text="'Phase ' + ${phase.phaseId} + ': '+ ${phase.name}">Phase</span>
        <div class="leaderboard-container">
            <h2>Leaderboard</h2>

            <div class="leaderboard-box">
                <div class="bg-div"></div>
                <div class="lb-title">
                    <div class="rank">Rank</div>
                    <div class="player">Player</div>
                    <div class="point">Point</div>
                    <div class="time">Time Taken</div>
                </div>
                <div class="lb-body">
                    <div class="lb-row" th:each="leaderboard, iterStat : ${leaderboards}">
                        <div class="rank"><span th:text="${iterStat.index + 1}"></span></div>
                        <div class="player">
                            <!-- <div class="player-pf">
                                <img th:src="@{${leaderboard.user.pfPicture}}" alt="">
                            </div> -->
                            <div class="player-pf">
                                <img th:src="@{'/images/profiles/' + ${leaderboard.user.pfPicture}}" alt="">
                            </div>
                            <div class="player-name" th:text="${leaderboard.user.username}"></div>
                        </div>
                        <div class="point" th:text="${#numbers.formatInteger(leaderboard.point, 2)}"></div>
                        <div class="time" th:text="${leaderboard.timeTaken}">00 : 00 : 00</div>
                    </div>
                </div>
                <div class="lb-user-rank" th:if="${userLeaderboard}">
                    <div class="rank" th:text="${userRank == -1 ? 'N/A' : userRank}">N/A</div>
                    <div class="player">
                        <div class="player-pf">
                            <img th:src="@{'/images/profiles/' + ${userLeaderboard.user.pfPicture}}" alt="Profile Picture">
                        </div>
                        <!-- <div class="player-pf">
                            <img th:src="@{${userLeaderboard.user.pfPicture}}" alt="Profile Picture">
                        </div> -->
                        <div class="player-name" th:text="${userLeaderboard.user.username}">Player</div>
                    </div>
                    <div class="point" th:text="${#numbers.formatInteger(userLeaderboard.point, 2)}">00</div>
                    <div class="time" th:text="${userTimeTaken}">00:00:00</div>
                </div>                
            </div>
        </div>

        <div class="game-set-container">
            <span class="game-set-title">Ready to boost your rank in Leaderboard</span>
            <div class="game-set-box">
                <div class="game-set"  th:each="topic : ${topics}">
                    <div class="topic-img">
                        <img src="/images/blog-images-agile3-removebg-preview.png" alt="topic img">
                    </div>
                    <span class="topic-name" th:text="${topic.name}">Project Charter</span>
                    
                    <button class="start-btn start-link" th:data-topic-id="${topic.topicId}">START</button>

                </div>    
            </div>
        </div>

    </div>

    <script src="/scripts/profileScript.js"></script>
    <script src="/scripts/audio.js"></script>
    <script>

        clickStartQuiz(".start-link", "quiz", "data-topic-id")

            //audio for each phase and navigate to specific page 
        var audioClick = new Audio('/audios/click.mp3');
        audioClick.playbackRate = 3;

        function clickStartQuiz(className , url, dataId ){
            document.querySelectorAll(className).forEach(item => {
                item.addEventListener("click", function(event){
                    event.preventDefault();
                    fetch('/quiz/clear-session', {
                        method: "GET"
                    }).then(response => response.json())  // Parse the JSON response
                    .then(data => console.log(data.message))  // Log the "Session cleared" message
                    .catch(error => console.error("Error clearing session:", error));

                    audioClick.play();
        
                    let targetId = this.getAttribute(dataId); //Get the phase ID from the div
                    let targetUrl = `/${targetId}/${url}`; //construct the URL
        
                    setTimeout(() => {
                        window.location.href = targetUrl; 
                    }, 130);
                });
            });
        }
        function navigateBack() {
            if (document.referrer) {
                // Navigate to the referring page
                window.history.back();
            } else {
                // Fallback: navigate to a default page
                window.location.href = "/gamezone";
            }
        }
    </script>
</body>
</html>
