<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="icons/quizlogo99.svg">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="stylesheet" href="styles/search_card.css">
    <title>All Flashcards</title>
</head>
<body>
    <div class="background-image"></div>
    <div class="header">
        <div class="logo-box">
            <a th:href="@{${'/home'}}">
                <img class="logo" src="icons/quizlogo99.svg" alt="Logo">
            </a>
            <div class="logo-name">
                <span class="quiz">QUIZ</span>
                <span class="game">GAME</span>
            </div>
        </div>
        <div class="profile-box">
            <span class="pf-lvl">Lvl - 01</span>
            <div >
                <img class="profile" id="profile" src="images/space man.jpg" alt="Logo">
            </div>
        </div>
    </div>
    <div class="profile-container" id="profile-container">
        <div class="top-box">
            <div class="top-lf">Profile</div>
            <div class="top-rg">
                <img class="speaker-icon" src="icons/speaker.png" alt="Seapker icon">
                <a href="/update_profile.html">
                    <img class="edit-icon" src="icons/lucide_edit.png" alt="Edit icon">
                </a>
            </div>
        </div>
        <div class="bottom-box">
            <div class="pf-picture"><img src="images/space man.jpg" alt="Profile"></div>
            <div class="pf-name">
                Space Man
                <img src="icons/ship-wheel (1).svg" alt="Badge">
            </div>
            <span class="lvl">Level - 01</span>
            <span class="pf-email">spaceman@gmail.com</span>
            <!-- <button class="sign-out-btn">Sign out</button> -->
        </div>
    </div>
    <div id="overlay" class="overlay"></div>

    <div class="body-container">
        <div class="container">
            <div class="back-arr" onclick="navigateBack()">
                <img class="back-arrow" src="icons/back-arrow.png" alt="back"> Back
            </div>
            <h2>Search Result</h2>
            <div class="card-container">
                <div th:if="${searchResults.isEmpty()}">
                    <p>No results found for "<span th:text="${keyword}"></span>".</p>
                </div>
                <div th:each="flashcard : ${searchResults}" class="flashcard" th:attr="data-card-id=${flashcard.cardId}" onclick="flipCard(this)">
                    <div class="flashcard-face front">
                        <div class="content-pic">
                            <img class="pic" src="/images/4k-mercedes-red-zcj47yx9mq7tfjed.webp">
                            <!-- <img class="pic" th:src="@{/images/} + ${flashcard.image}" alt="image"> -->
                            <div class="star">
                                <img class="star-icon" src="/icons/icons8-star-50 (2).png" alt="star">
                                <span class="tooltip">Add to Collection</span>
                            </div>
                        </div>
                        <div class="text-content">
                            <h3 th:text="${flashcard.keyword}"></h3>
                        </div>
                    </div>
                    <div class="flashcard-face back">
                        <div class="text-content-back">
                            <p th:text="${flashcard.definition}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/scripts/profileScript.js"></script>
    <script src="/scripts/collection.js"></script>
    <script>
        function flipCard(card) {
        card.classList.toggle('is-flipped');
        }

        function navigateBack() {
            if (document.referrer) {
                // Navigate to the referring page
                window.history.back();
            } else {
                // Fallback: navigate to a default page
                window.location.href = "/card.html";
            }
        }

    </script>
    
</body>
</html>