.title-box{
    position: absolute;
    top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.title{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
.swiper-wrapper{
    display: flex;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22rem;
}
.swiper .swiper-pagination{
    position: absolute;
    bottom: 10px;
}
.star, 
.favorite {
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(20, 78, 128);  */
    background-color: rgb(20, 78, 128);
    border: 1px solid rgb(255, 255, 255);
    z-index: 10;
    top: -5px;
    right: -42px;
    cursor: pointer;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition: 0.15s;
}
.no-item-box{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.no-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 60vh;
    width: 200px; */
    text-align: center;
    flex-direction: column;
    color: white;
}

.NoItemFound {
    width: 40%;
    height: auto;
    opacity: 0.7;
    /* animation: fadeInScale 1s ease-in-out; */
}

/* @keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 0.6;
        transform: scale(1);
    }
} */


@media (max-width: 768px) {
    .NoItemFound {
        max-width: 70%;
        animation: fadeInScale 0.9s ease-in-out;
    }
}

@media (max-width: 480px) {
    .NoItemFound {
        max-width: 60%;
        animation: fadeInScale 1s ease-in-out;
    }
}