.title-box{
    position: absolute;
    top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.title{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
.swiper-wrapper{
    display: flex;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22rem;
}
.swiper .swiper-pagination{
    position: absolute;
    bottom: 10px;
}
.star, 
.favorite {
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(20, 78, 128);  */
    background-color: rgb(20, 78, 128);
    border: 1px solid rgb(255, 255, 255);
    z-index: 10;
    top: -5px;
    right: -42px;
    cursor: pointer;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition: 0.15s;
}